{% extends "base.html" %}
{% block title %}Inscription{% endblock %}

{% block nav %}
<a class="mdl-navigation__link" href="/">Accueil</a>
<a class="mdl-navigation__link is-active">Inscription</a>
<a class="mdl-navigation__link" href="/blog">Blog</a>
<a class="mdl-navigation__link" href="/contact">Contact</a>
{% endblock %}

{% block content %}

<div class="mdl-grid portfolio-max-width portfolio-contact">

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">




<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Inscription</h2>
</div>

{% if envoi %}
<strong style="text-align:center;">Inscription faite ! Merci de regarder vos spams !</strong>
{% endif %}

{% if not envoi %}
<form action="{% url "Inscription" %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}
    <p>
      <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="S'inscrire" />
    </p>
</form>
{% endif %}


</div>


</div>

{% endblock %}
