{% extends "base.html" %}
{% block title %}Inscription{% endblock %}

{% block nav %}
<a class="mdl-navigation__link" href="/">Accueil</a>
<a class="mdl-navigation__link" href="/inscription">Inscription</a>
<a class="mdl-navigation__link is-active" href="/blog">Blog</a>
<a class="mdl-navigation__link" href="/contact">Contact</a>
{% endblock %}

{% block content %}


<div class="mdl-grid portfolio-max-width">
{% for article in derniers_articles %}

<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
   <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
        <!--<img class="article-image" src=" images/example-blog01.jpg" border="0" alt="">-->
        <img class="article-image" src="{{ article.photo.url }}"/>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <h2 class="mdl-card__title-text">{{ article.titre }}</h2>
        <div class="mdl-card__supporting-text padding-top">
            <span>{{ article.date}}</span>
        </div>
        <div class="mdl-card__supporting-text no-left-padding">
            <p>{{ article.contenu|truncatewords_html:80 }}</p>
            <p><a href="{% url 'lire' article.id %}">Lire la suite</a></p>
        </div>
    </div>
</div>
{% endfor %}

</div>

{% endblock %}
